@import "fonts"
@import "libs"
@import "vars"

@import "basic"

// HEADER
.header
	padding: 40px 0
	background-color: transparent
	box-shadow: 0 10px 50px transparent
	transition: all .2s
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 10
	+media-breakpoint-down(lg)
		padding: 20px 0
	+media-breakpoint-down(sm)
		background-color: $white
	+media-breakpoint-down(xs)
		padding: 10px 0 !important
	.container
		max-width: 95%
		+media-breakpoint-down(xs)
			max-width: 100%
	&__wrap
		+media-breakpoint-down(sm)
			flex-direction: column
	&__logo
		max-width: 170px
		width: 100%
		display: block
		@media (max-width: 1600px)
			margin-right: 50px
		+media-breakpoint-down(md)
			max-width: 150px
		+media-breakpoint-down(sm)
			margin-bottom: 20px
		+media-breakpoint-down(xs)
			margin-right: auto
		img
			width: 100%
			height: auto
	&__menu
		// max-width: 50%
		// width: 100%
		margin: 0 auto
		+media-breakpoint-down(lg)
			background-color: $blue
			position: absolute
			width: 100%
			top: 0
			right: -100%
			transition: all .2s ease-in-out
			z-index: 9999
			&.open
				right: 0
		ul
			display: flex
			align-items: center
			flex-wrap: wrap
			list-style-type: none
			padding: 0
			margin: 0
			+media-breakpoint-up(xl)
				justify-content: flex-start
			+media-breakpoint-down(lg)
				height: 100vh
				flex-direction: column
				overflow-y: auto
				align-items: center
				justify-content: center
			li
				margin: 0 25px
				a
					text-transform: uppercase
					font-size: em(15)
					line-height: em(30)
					white-space: nowrap
				+media-breakpoint-down(lg)
					width: 100%
					margin: 0
					a
						width: 100%
						display: block
						text-align: center
						text-transform: uppercase
						font-size: em(15)
						line-height: em(30)
						padding: 8px 0
						text-decoration: none
						&:hover
							background-color: $light-blue
				&.active
					a
						color: $text
						text-decoration: underline
						+media-breakpoint-down(lg)
							background-color: $light-blue
							text-decoration: none
							color: $white
				a
					color: $text
					&:hover
						color: $text
						text-decoration: underline
	&__right
		+media-breakpoint-down(xs)
			justify-content: space-between
			width: 100%
			.btn
				background-image: none
				padding: 13px 12px
				font-size: em(12)
				margin-top: -6px
	&__phone
		text-align: center
		margin-right: 30px
		color: $white
		transition: all .2s
		+media-breakpoint-down(lg)
			color: $text
		+media-breakpoint-down(xs)
			margin-right: 0
			text-align: left
		a
			display: block
			color: $white
			white-space: nowrap
			font-size: em(30)
			line-height: 1.2
			transition: all .2s
			+media-breakpoint-down(md)
				font-size: em(20)
			+media-breakpoint-down(xs)
				font-size: em(16)
			&:hover
				text-decoration: underline
			+media-breakpoint-down(lg)
				color: $text
		span
			white-space: nowrap
			font-size: em(15)
			text-transform: uppercase
			+media-breakpoint-down(md)
				font-size: em(14)
			+media-breakpoint-down(xs)
				font-size: em(12)

//BANNER
.rodion-portret
	position: absolute
	right: 0
	bottom: 0
	+media-breakpoint-down(md)
		display: none
	img
		@media (max-width: 1600px)
			max-width: 750px
		+media-breakpoint-down(lg)
			max-width: 600px
.banner
	padding: 150px 0 70px
	background-color: #f1f1f1
	background-image: url(../img/main-fon.jpg)
	min-height: 800px
	height: 100vh
	background-size: cover
	background-position: center
	position: relative
	z-index: 1
	overflow: hidden
	&:after
		content: ''
		display: block
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: rgba(#fff, .6)
		z-index: -1
	&:before
		content: ''
		display: block
		position: absolute
		top: 0
		right: -52%
		width: 100%
		height: 100%
		transform: skew(-20deg)
		background: linear-gradient(70.38deg, #1B84FF 21.74%, #51C0FF 96.81%)
		mix-blend-mode: multiply
		z-index: 0
	+media-breakpoint-down(xs)
		padding-top: 240px
		background-position: center top 200px
	&__block
		height: 100%
		display: flex
		flex-direction: column
		justify-content: center
	&__title
		width: fit-content
		text-transform: uppercase
		line-height: 1.4
		font-style: italic
		font-weight: bold
		+media-breakpoint-down(xs)
			margin: 0 auto
		span
			font-size: 3.125vmax
			letter-spacing: -0.02em
			+media-breakpoint-down(xs)
				width: 100%
				font-size: em(22)
		strong
			display: block
			font-size: 2.08vmax
			padding: 0 20px
			+media-breakpoint-down(xs)
				font-size: em(16)
				padding: 0 10px
	ul
		padding: 0
		margin: 50px 0 60px
		list-style-type: none
		li
			padding-left: 40px
			background-image: url(../img/check.svg)
			background-repeat: no-repeat
			background-size: 25px
			background-position: left center
			text-transform: uppercase
			line-height: em(30)
			+media-breakpoint-down(xs)
				background-size: 20px
				padding-left: 30px
	&__btn-wrap
		position: relative
		z-index: 1
		+media-breakpoint-down(xs)
			flex-direction: column
	&-free
		text-transform: uppercase
		padding: 10px 40px
		height: 115px
		@media (max-width: 1600px)
			height: 85px
		span
			font-size: em(50)
			line-height: 1
	&-video
		text-decoration: none
		margin-left: 70px
		margin-top: -30px
		+media-breakpoint-down(lg)
			margin-left: 6%
		+media-breakpoint-down(xs)
			margin-top: 10px
		&:hover
			color: $text
			span
				border-color: transparent
		img
			margin: 0 auto
			width: 130px
			+media-breakpoint-down(lg)
				width: 100px
		span
			font-size: em(12)
			display: block
			margin-top: -25px
			border-bottom: 1px solid $text
			text-transform: uppercase
			line-height: 1.2
			transition: all .25s ease
			+media-breakpoint-down(lg)
				margin-top: -15px

// PROCESS
.process
	&__block
		justify-content: space-between
		+media-breakpoint-down(md)
			flex-direction: column
			align-items: center
	&__item
		&--steps
			width: 58%
			+media-breakpoint-down(md)
				width: 100%
				margin-bottom: 40px
			+media-breakpoint-down(xs)
				margin-bottom: 30px
		&--step
			margin-bottom: 50px
			position: relative
			z-index: 1
			+media-breakpoint-down(xs)
				margin-bottom: 30px
			&:last-child()
				margin-bottom: 0
			.number
				width: 115px
				height: 200px
				font-size: em(200)
				color: $tr-blue
				line-height: 1
				display: block
				margin-right: 90px
				margin-top: -30px
				display: block
				flex: 0 0 115px
				@media (max-width: 1600px)
					margin-right: 50px
				+media-breakpoint-down(lg)
					font-size: em(150)
					height: 150px
					margin-right: 15px
					margin-top: 0
					flex: 0 0 80px
				+media-breakpoint-down(xs)
					position: absolute
					z-index: -1
					left: 50%
					flex: auto
					width: auto
					height: 100%
					transform: translateX(-50%)
					font-size: em(250)
					margin: 0
					top: -30px
			h3
				color: $blue2
				+media-breakpoint-down(xs)
					font-size: em(18)
					text-align: center
			ul
				padding-left: 0
				+media-breakpoint-down(xs)
					width: 100%
			li
				margin-left: 22px
				font-weight: normal
			.paral
				margin: 30px 0 0
				font-style: italic
				+media-breakpoint-down(xs)
					padding: 15px
					font-size: 2.4vmax
					margin: 15px auto 0
					display: block
					max-width: fit-content
		&--form
			width: 42%
			@extend .gradient-2
			padding: 40px 60px
			@media (max-width: 1600px)
				padding: 30px 20px
			+media-breakpoint-down(md)
				max-width: 600px
				width: 100%
			form
				h3
					font-size: em(35)
					line-height: 1.2
					text-transform: none
					text-align: left
					margin-bottom: 25px
					+media-breakpoint-down(xs)
						font-size: 18px
				label
					font-weight: 500
					p
						text-transform: none
						font-size: em(12)
						letter-spacing: 1px
				input, button
					width: 100%
				input[type="tel"]
					border: 1px solid $yellow
					text-align: center
				button
					margin-bottom: 25px
					padding: 15px 20px
				.row
					align-items: flex-end

// TEAM
.team
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
	position: relative
	z-index: 3
	h2
		margin-bottom: 15px
	&__block
		max-width: 1400px
		width: 100%
		flex-wrap: wrap
		justify-content: center
		margin: 0 auto
	&__user
		width: 25%
		text-align: center
		margin-bottom: 30px
		+media-breakpoint-down(md)
			width: 33%
		+media-breakpoint-down(sm)
			width: 50%
		+media-breakpoint-down(xs)
			margin-bottom: 10px
		h5
			font-weight: 900
			font-size: em(20)
			text-transform: none
			+media-breakpoint-down(xs)
				font-size: em(14)
				margin-bottom: 3px
		p
			font-weight: normal
			line-height: 1.4
			+media-breakpoint-down(xs)
				font-size: em(14)
		&--foto
			width: 100%
			height: 100%
			overflow: hidden
			border-radius: 0 0 50% 50%
			position: relative
			z-index: 1
			&_wrap
				width: 200px
				height: 200px
				border-radius: 50%
				margin: 0 auto 20px
				position: relative
				+media-breakpoint-down(xs)
					width: 80px
					height: 80px
					margin-bottom: 10px
				&:after
					content: ''
					display: block
					position: absolute
					left: 50%
					bottom: 0px
					transform: translateX(-50%)
					width: 140px
					height: 140px
					border-radius: 50%
					box-shadow: 0px 10px 35px rgba(0, 130, 255, 0.5)
					z-index: -1
					+media-breakpoint-down(xs)
						width: 60px
						height: 60px
			&.lazyparent
				box-shadow: none
				&:before
					// opacity: 0
				img
					max-width: 100px
					width: 100%
					position: absolute
					left: 50%
					top: 50%
					transform: translate(-50%, -50%)
					+media-breakpoint-down(xs)
						max-width: 100%
			&:before
				content: ''
				display: block
				width: 190px
				height: 180px
				@extend .gradient-2
				position: absolute
				bottom: 0
				left: 50%
				transform: translateX(-50%)
				border-radius: 50%
				z-index: -1
				transition: all .25s
				+media-breakpoint-down(xs)
					width: 70px
					height: 70px
			img
				margin: 0 auto
				max-width: 180px
				min-height: 200px
				+media-breakpoint-down(xs)
					max-width: 100%
					min-height: 0
.video__block
	padding: 50px 0
	text-align: center
	+media-breakpoint-down(xs)
		padding: 30px 0
	.video-link
		display: block
		background-color: $tr-blue
		max-width: 560px
		width: 100%
		height: 300px
		background-size: cover
		background-position: center
		margin: 0 auto
		position: relative
		z-index: 1
		+media-breakpoint-down(xs)
			height: 200px
		&:before
			content: ''
			display: block
			width: 100%
			height: 100%
			position: absolute
			left: 0
			top: 0
			background-color: rgba($text, .4)
			z-index: -1
		&:hover
			img
				transform: translate(-50%, -50%) scale(1.1)
				opacity: 1
			span
				color: $text
		img
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%) scale(1)
			transition: all .3s ease-in-out
			opacity: .8
			+media-breakpoint-down(xs)
				max-width: 80px
		span
			position: absolute
			left: 0
			top: 102%
			width: 100%
			color: $text
			font-weight: normal
			text-align: center
			display: block

// quality
.quality
	padding: 0
	h2
		font-size: em(30)
		+media-breakpoint-down(xs)
			font-size: em(20)
	.container
		@media (max-width: 1600px)
			max-width: 95%
		+media-breakpoint-down(sm)
			max-width: 100%
	.blue-color
		margin-top: 50px
		+media-breakpoint-down(sm)
			margin-top: 30px
	.sect-bg
		background-size: contain
		background-repeat: no-repeat
		@media (max-width: 1600px)
			background-size: 70%
		+media-breakpoint-down(lg)
			background-size: 80%
		+media-breakpoint-down(md)
			background-size: cover
			background-position: center
	&__block
		max-width: 730px
		width: 100%
		padding: 80px 0 50px
		background-color: rgba($white, 1)
		position: relative
		z-index: 1
		+media-breakpoint-down(lg)
			max-width: 50%
		+media-breakpoint-down(md)
			max-width: 100%
			background-color: transparent
			padding-bottom: 100px
		+media-breakpoint-down(xs)
			padding-top: 30px
		&:before
			content: ''
			display: block
			height: 100%
			width: 150px
			position: absolute
			top: 0
			left: 104%
			background: linear-gradient(269.75deg, rgba(255, 255, 255, 0) 0.11%, #FFFFFF 99.89%)
			z-index: -1
			@media (max-width: 1600px)
				left: 100%
			+media-breakpoint-down(md)
				display: none
	&__minusi
		position: relative
		background-position: right top
		.bg-btn
			position: absolute
			left: 75%
			bottom: 50px
			transform: translateX(-25%)
			z-index: 1
			+media-breakpoint-down(md)
				left: 50%
				transform: translateX(-50%)
				bottom: 30px
		&:after
			content: ''
			display: block
			height: 100%
			width: 50%
			position: absolute
			left: 0
			top: 0
			background-color: $white
			+media-breakpoint-down(md)
				display: none
		.quality__items
			justify-content: flex-end
			flex-wrap: wrap
			@media (max-width: 1600px)
				justify-content: center
			.quality__item
				background-color: $pink
	&__plusi
		position: relative
		background-position: left top
		.container
			display: flex
			flex-direction: row-reverse
		.quality__block
			+media-breakpoint-down(md)
				padding-bottom: 50px
			&:before
				content: ''
				display: block
				height: 100%
				width: 150px
				position: absolute
				top: 0
				left: auto
				right: 104%
				background: linear-gradient(-269.75deg, rgba(255, 255, 255, 0) 0.11%, #FFFFFF 99.89%)
				z-index: -1
				@media (max-width: 1600px)
					left: auto
					right: 100%
				+media-breakpoint-down(md)
					display: none
		&:after
			content: ''
			display: block
			height: 100%
			width: 50%
			position: absolute
			right: 0
			top: 0
			background-color: $white
			+media-breakpoint-down(md)
				display: none
		.quality__items
			justify-content: flex-start
			flex-wrap: wrap
			@media (max-width: 1600px)
				justify-content: center
			.quality__item
				background-color: $l-green
	&__item
		width: 48%
		min-height: 180px
		padding: 10px 20px
		font-weight: bold
		margin: 1%
		position: relative
		@media (max-width: 1600px)
			min-height: 120px
			width: 40%
		+media-breakpoint-down(lg)
			width: 45%
		+media-breakpoint-down(md)
			width: 40%
		+media-breakpoint-down(sm)
			width: 48%
		+media-breakpoint-down(xs)
			width: 100%
		&--icon
			position: absolute
			max-width: 80px
			right: 10px
			bottom: 10px
			@media (max-width: 1600px)
				max-width: 60px
			+media-breakpoint-down(lg)
				max-width: 50px
			img
				width: 100%

// PRICE
.price
	.container
		+media-breakpoint-down(md)
			max-width: 94%
		+media-breakpoint-down(sm)
			max-width: 100%
	&-dop
		margin-bottom: 20px
		li
			margin-right: 10px
			display: inline
			&:before
				top: -4px !important
	&__footer
		max-width: 1000px
		width: 100%
		margin: 60px auto 0
		+media-breakpoint-down(md)
			margin-top: 40px
		.paral
			display: block
			margin: 40px 0
			width: 100%
			text-align: center
			white-space: normal
			+media-breakpoint-down(md)
				margin: 20px 0
	&__block
		margin: 140px 0 200px
		@media (max-width: 1600px)
			margin: 120px 0
		+media-breakpoint-down(sm)
			flex-direction: column
			align-items: center
			margin: 0
	&__item
		width: 28%
		box-shadow: 0px 10px 35px rgba($dark-blue, 0.5)
		border-radius: 0 0 10px 10px
		overflow: hidden
		height: 100%
		background-color: $white
		+media-breakpoint-down(md)
			width: 30%
		+media-breakpoint-down(sm)
			max-width: 600px
			width: 100%
			margin-bottom: 30px
			border-radius: 0
			&.active
				.price__item--info
					display: block
				h3
					&:after
						transform: rotate(45deg)
					&:before
						transform: rotate(-45deg)
			li
				display: inline
				margin-right: 10px
				padding-left: 15px !important
				&:before
					top: -2px !important
		+media-breakpoint-down(xs)
			margin-bottom: 20px
		&.center
			transform: scale(1.25)
			margin-top: 70px
			height: 100% !important
			@media (max-width: 1600px)
				transform: scale(1.2)
				margin-top: 40px
			+media-breakpoint-down(lg)
				margin-top: 50px
			+media-breakpoint-down(sm)
				margin-top: 0
				transform: scale(1)
		h3
			padding: 12px 10px
			@extend .gradient-2
			color: $white
			font-size: em(20)
			text-align: center
			margin-bottom: 0
			+media-breakpoint-down(sm)
				position: relative
				&:before, &:after
					content: ''
					display: block
					width: 15px
					height: 1px
					background-color: $white
					position: absolute
					right: 10px
					top: 50%
					transform: rotate(0)
					transition: all .1s ease-in-out
				&:after
					transform: rotate(90deg)
		&--info
			padding: 40px 30px
			background-color: $white
			+media-breakpoint-down(lg)
				padding: 30px 20px
			+media-breakpoint-down(sm)
				padding-top: 15px
				display: none
			+media-breakpoint-up(md)
				display: block !important
		&-money
			text-align: center
			text-transform: uppercase
			line-height: 1
			margin-bottom: 15px
			white-space: nowrap
			+media-breakpoint-down(sm)
				margin-bottom: 10px
			strong
				font-size: em(35)
				+media-breakpoint-down(lg)
					font-size: em(25)
			&.total
				font-size: em(25)
				+media-breakpoint-down(lg)
					font-size: em(20)
				strong
					font-size: em(55)
					+media-breakpoint-down(lg)
						font-size: em(40)
		.btn-wrap
			text-align: center
			margin: 50px 0 0
			+media-breakpoint-down(md)
				margin-top: 30px
			.btn
				font-size: em(14)
				padding: 15px 70px
				+media-breakpoint-down(md)
					padding: 12px 30px
	ul
		padding: 0
		list-style-type: none
		margin-top: 20px
		margin-bottom: 0
		font-weight: normal
		.list-title
			font-style: italic
			font-weight: 900
			display: block
			margin-bottom: 15px
			+media-breakpoint-down(md)
				margin-bottom: 5px
				font-size: em(14)
		li
			position: relative
			padding-left: 20px
			margin-bottom: 10px
			font-size: em(14)
			+media-breakpoint-down(md)
				margin-bottom: 5px
			&:before
				content: '●'
				display: block
				color: $blue
				position: absolute
				left: 0
				top: 1px
				font-size: em(15)

// SKIDKA
.skidka
	position: relative
	padding-bottom: 130px
	img
		position: absolute
		right: 0
		top: -70px
		max-width: 50%
		z-index: 1
	&__text
		height: 400px
		width: 100%
		background-image: url(../img/skidka_bg.jpg)
		background-size: cover
		background-position: left center
		overflow: hidden
		display: flex
		flex-direction: column
		justify-content: center
		padding-left: 10%	
		font-size: em(40)
		text-transform: uppercase
		font-weight: bold
		line-height: 1.2
		font-style: italic
		b
			font-size: em(48)
			font-weight: bold
			margin: 0
			line-height: 1


// CALLBACK
.callback
	h2
		text-align: left
		+media-breakpoint-down(md)
			br
				display: none
	&-left
		+media-breakpoint-down(md)
			max-width: 100%
			width: 100%
			flex: 0 0 100%
			padding: 0
		p
			font-size: em(25)
			font-weight: normal
			+media-breakpoint-down(xs)
				font-size: em(20)
	&-right
		+media-breakpoint-down(md)
			max-width: 420px
			width: 100%
			flex: 0 0 100%
			margin: 30px auto 0
			padding: 0
	form
		padding: 50px
		+media-breakpoint-down(lg)
			padding: 40px 20px
		label
			margin-bottom: 40px
			@media (max-width: 1600px)
				margin-bottom: 20px
		input
			width: 100%
		input[type="checkbox"]
			width: 20px
		button
			display: block
			width: 100%
			text-align: center
			margin: 60px 0
			font-weight: 900
			@media (max-width: 1600px)
				margin: 40px 0
			+media-breakpoint-down(sm)
				margin: 20px 0

// CONTACTS
.contacts
	display: flex
	padding: 0
	min-height: 400px
	color: $white
	+media-breakpoint-down(md)
		flex-direction: column
	a
		color: $white
	h2
		text-align: left
		font-size: em(34)
		+media-breakpoint-down(xs)
			font-size: em(22)
			margin-bottom: 20px
	&__info
		width: 45%
		padding: 50px 0
		padding-left: 10%
		font-size: em(22)
		@extend .gradient-2
		position: relative
		z-index: 1
		+media-breakpoint-down(md)
			width: 100%
		+media-breakpoint-down(xs)
			font-size: em(18)
		.btn
			color: $text
			font-size: em(12)
	&__item
		margin-bottom: 30px
		+media-breakpoint-down(xs)
			margin-bottom: 18px
		small
			display: block
			font-weight: bold
	&__map
		width: 55%
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		position: relative
		+media-breakpoint-down(md)
			width: 100%
			height: 400px
.loader 
	position: absolute
	z-index: 0
	top: -100%
	left: 0
	box-sizing: border-box
	width: 100%
	height: 100%
	overflow: hidden
	color: #000000
	transition: opacity .7s ease
	opacity: 0
	background-color: rgba(0, 0, 0, .55)
	&:after,
	&:before 
		box-sizing: border-box
	&.is-active 
		top: 0
		opacity: 1
	&-default:after 
		position: absolute
		top: calc(50% - 24px)
		left: calc(50% - 24px)
		width: 48px
		height: 48px
		content: ''
		animation: rotation 1s linear infinite
		border: solid 8px #ffffff
		border-left-color: transparent
		border-radius: 50%
#map
	position: relative
	z-index: 1
	width: 100%
	display: block
	height: 100%
	cursor: pointer
	background-color: transparent
	
@keyframes rotation 
	from 
		transform: rotate(0)
	to 
		transform: rotate(359deg)

@keyframes blink 
	from 
		opacity: .5		
	to 
		opacity: 1

.social__list
	margin-top: 10px
	margin-bottom: 40px
	a
		img
			max-width: 40px
			width: 100%
			height: auto
			margin-right: 30px
	
// FOOTER
.footer
	background-color: $dark-blue
	color: $white
	padding: 30px 0
	font-weight: bold
	&__wrap
		+media-breakpoint-down(xs)
			flex-direction: column
			justify-content: center
	a
		color: $white
		&:hover
			text-decoration: underline
		+media-breakpoint-down(xs)
			display: block
			margin-top: 10px
		

@import "media" // Всегда в конце